<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{ page.title }}</title>
		
		<link href="{{ site.baseurl }}/css/main.css" rel="stylesheet">
	</head>

	<body>
		<header>
			<h1><a href="{{ site.baseurl }}/">Tía Sabia</a></h1>
		</header>
	
		<div id="main">
			{{ content }}
		</div>

		<footer>
			Copyright &copy; 2015 Code for America: Albuquerque Fellows
		</footer>
	</body>
</html>
